html, body {
    background-color: gray;
    color: #636b6f;
    /*font-family: 'Nunito', sans-serif;*/
    font-weight: 300;

    margin-top: 100px ;
}

body {
    /*background-color: khaki;*/

}

div {
    background-color: lightgreen;

}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
